@charset "UTF-8";

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header{
    background-color: greenyellow;
    padding: 80px;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: black;
}

.navbar > a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    
}

.navbar > a:hover{
    background-color: grey;
    color: black;
    font-weight: bold;

}

.corpo{
    display: flex;
    flex-flow: row wrap;
}

.card{
    flex: 48%;
    background-color: lightgray;
    height:400px;
    margin:1%;
}

@media screen and (max-width:700px ) {
    .navbar{
        flex-direction: column;
    }
}